@charset "UTF-8";

#comment{}

#comment .insert-form{
    border: 1px solid #000000;
}

#comment .insert-form textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

#comment-item{}

#comment-item .comment{
    border: 1px solid #000000;
}
#comment-item .comment div{
    width: 100%;
}